# data type in numpy array

In [1]:
import numpy as np
x=np.array([1,2,3])
print('Data Type :', x.dtype)

Data Type : int32

In [2]:
import numpy as np
x=np.array([1.1,3.3,5.0])
print('Data Type :', x.dtype)

Data Type : float64

In [3]:
import numpy as np
x=np.array(['Nazmul','Tania'])
print('Data Type :', x.dtype)

Data Type : <U6

In [4]:
import numpy as np
x=np.array([1,2,3,'d','f'])
print('Data Type :', x.dtype)

Data Type : <U11

# i-int
# b-bool
# u-unsigned
# f-float
# c-complex
# m-timedelta
# M-datetime
# O-object
# S- string
# U-unicode
# V-void

In [ ]:
# convert data type
x=np.array([1,2,3,4],dtype=np.int8)
print('Data Type :', x.dtype)
print(x)

In [ ]:
# int to float
# convert data type
x=np.array([1,2,3,4],dtype='f')
print('Data Type :', x.dtype)
print(x)

In [ ]:
# another example
x=np.array([1,2,3,4])
new=np.float32(x)
print('Data Type :',x.dtype)
print(x)
print('Data Type :',new.dtype)
print(new)

In [ ]:
# another example
x=np.array([1,2,3,4])
new=np.float32(x)
new1=np.int_(new)
print('Data Type :',x.dtype)
print(x)
print('Data Type :',new.dtype)
print(new)
print('Data Type :',new.dtype)
print(new1)